@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --arc-io-purple: #7b4dff;
    --green-color: #1db954;
    --background-color: #111;
    --front-color: #252525;
    --paragraph-color: #d0d0d0;
}

*{
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url('../assets/starsBackground.png');
    background-color: var(--background-color) !important;
    background-position: center;
    background-size: cover;
}

/* Navbar Section */

#active-tab{
    color: var(--green-color) !important;
}

.navbar_section .navbar-brand{
    font-size: 22px;
}

.navbar_section .navbar-brand span{
    color: var(--green-color);
}

.navbar_section .navbar-nav li{
    margin: 0px 8px;
}

.navbar_section .navbar-nav li a{
    color: white !important;
    font-size: 15px;
}
.navbar_section .navbar-nav li a::after{
    content: "";
    width: 0%;
    height: 2px;
    background: var(--green-color);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navbar_section .navbar-nav li a:hover::after{
    width: 100%;
}


/* Hero Section */

.hero_section{
    height: calc(100vh - 69px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
}

.hero_section span{
    color: var(--green-color);
}

.hero_section .heading{
    font-weight: 600;
    font-size: 45px;
}

.hero_section p{
    margin: 10px 0px 40px;
    font-size: 17px;
}

.hero_section .hero-btn{
    display: inline-block;
    text-decoration: none;
    border: 1px solid var(--green-color);
    padding: 8px 24px;
    font-size: 15px;
    background: var(--green-color);
    position: relative;
    cursor: pointer;
}
.hero_section .hero-btn:hover{
    color: white;
    border: 1px solid white;
    background: transparent;
    transition: 0.5s;
}
