@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root{
    --arc-io-purple: #7b4dff;
}

*{
    font-family: 'Poppins', sans-serif;
}

body{
    background: #f8f8f8 !important;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_card{
    position: relative;
    width: 700px;
    height: 400px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 25px 50px rgba(0,0,0,0.15);
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 40px 10px;
    align-items: center;
    text-align: center;
}

.sec_card h3{
    margin-bottom: 16spx;
}

.main_card span{
    font-weight: 700;
}

@media only screen and (max-width: 600px) {
    .sec_card h3{
        font-size: 27px;
    }
    .sec_card h4{
        font-size: 22px;
    }
}