<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link Preview Meta Tags -->
    <!-- PLACE HOLDER -->
    <!-- PLACE HOLDER -->
    <!-- PLACE HOLDER -->
    <!-- PLACE HOLDER -->
    <!-- PLACE HOLDER -->
    <!-- PLACE HOLDER -->
    <!-- PLACE HOLDER -->
    
    <title>CyberTy | Your Discord Buddy</title>

    <!-- Arc.io Widget Script -->
    <script async src="https://arc.io/widget.min.js#dgmQ7Xc2"></script>

    <!-- Local Files -->
    <link rel="icon" href="../assets/CyberTyBot.png" type="image/png">
    <link rel="stylesheet" href="../styles/cyberty-invite.css" type="text/css">
    <script src="../javascripts/cyberty-invite.js"></script>

    <!-- Bootstrap 4 MaxCDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Animate.css CDN -->
    <!-- PLACE HOLDER -->

    <!-- Font Awesome CDN -->
    <!-- PLACE HOLDER -->

</head>
<body onload="bodyLoad()">
    
    <div class="hero_section container">
        <div class="main_card">
            <div class="sec_card">
                <h3>Thank you for inviting CyberTy</h3>
                <h4>You are being redirected to <span>Discord</span>...</h4>
            </div>
            <div class="sec_card">
                <h3>Having Issues??</h3>
                <h4>For the ones we can solve, <a href="https://discord.com/api/oauth2/authorize?client_id=919212093444616203&permissions=1240674462839&scope=bot%20applications.commands" target="_blank">click here</a>.</h4>
            </div>
        </div>
    </div>

</body>
</html>
