<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link Preview Meta Tags -->
    <!-- PLACE HOLDER -->
    <!-- PLACE HOLDER -->
    <!-- PLACE HOLDER -->
    <!-- PLACE HOLDER -->
    <!-- PLACE HOLDER -->
    <!-- PLACE HOLDER -->
    <!-- PLACE HOLDER -->
    
    <title>CyberTy | Your Discord Buddy</title>

    <!-- Arc.io Widget Script -->
    <script async src="https://arc.io/widget.min.js#dgmQ7Xc2"></script>

    <!-- Local Files -->
    <link rel="icon" href="../assets/CyberTyBot.png" type="image/png">
    <link rel="stylesheet" href="../styles/cyberty-home.css" type="text/css">
    <script src="../javascripts/cyberty-home.js"></script>

    <!-- Bootstrap 4 MaxCDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Animate.css CDN -->
    <!-- PLACE HOLDER -->

    <!-- Font Awesome CDN -->
    <!-- PLACE HOLDER -->

</head>
<body>

    <!-- Navbar Section -->
    <div class="navbar_section container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand text-white" href="/cyberty">
                Cyber<span>Ty</span>
            </a>
            <button class="navbar-toggler" style="border: none;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="text-white fa fa-bars"></i>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" id="active-tab" href="/cyberty/invite">Invite</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://status.watchbot.app/bot/919212093444616203" target="_blank">Status</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://discord.gg/Adax9vbxpN" target="_blank">Support</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- Hero Section -->
    <div class="hero_section container">
        <h1 class="heading">Cyber<span>Ty</span> | Your Discord Buddy</h1>
        <br>
        <p></p>
        <button onclick="inviteBtn()" class="btn btn-light hero-btn">Invite Link</button>
    </div>

</body>
</html>
