<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Link Preview Meta Tags -->
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Home | DevikGupta">
    <meta property="og:description" content="Welcome to devikgupta.xyz">
    <meta property="og:url" content="https://devikgupta.xyz">
    <meta property="og:site_name" content="Devik Gupta">
    <meta property="og:image" content="https://devikgupta.xyz/assets/mapleClubCircle.png">

    <title>Home | DevikGupta</title>

    <!-- Arc.io Widget Script -->
    <script async src="https://arc.io/widget.min.js#dgmQ7Xc2"></script>

    <!-- Local Files -->
    <link rel="icon" href="assets/mapleClubCircle.png" type="image/png">
    <link rel="stylesheet" href="styles/home.css" type="text/css">
    <script src="javascripts/home.js"></script>

    <!-- Bootstrap 4 MaxCDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Animate.css CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body onload="bodyLoad()">
    
    <!-- Navbar Section -->
    <div class="navbar_section container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand text-white" href="/">
                Devik <span>Gupta</span>
            </a>
            <button class="navbar-toggler" style="border: none;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="text-white fa fa-bars"></i>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" id="active-tab" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login (beta)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/api">API (beta)</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="mailto:contact@devikgupta.xyz" target="_blank">Email Me</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- Hero Section -->
    <div class="hero_section container">
        <h1 class="heading">Welcome to devikgupta<span>.xyz</span></h1>
        <br>
        <p>Hi, I'm Devik Gupta, Self-Taught Developer & A Dumbass.<br>
            I like Programming and <span>Maybe</span> 3 People</p>
        <button onclick="rickRoll()" class="btn btn-light hero-btn">¯\_(ツ)_/¯</button>
    </div>

</body>
</html>
