<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login | DevikGupta</title>

    <!-- Arc.io Widget Script -->
    <script async src="https://arc.io/widget.min.js#dgmQ7Xc2"></script>

    <!-- Local Files -->
    <link rel="icon" href="assets/mapleClubCircle.png" type="image/png">
    <link rel="stylesheet" href="styles/login.css" type="text/css">
    <script src="javascripts/login.js"></script>

</head>
<body onload="bodyLoad()">
    <h1>Login Page (in dev)</h1>
    <a href="/">Back to Home</a>
</body>
</html>
